*{
    margin:0;
    padding:0;

}
img{
 height:30px;
 /* padding:20px; */
margin-left:10px;
margin-top:15px;
}
.front-page{
    background-color:#2c2c32;
    color:white;
    font-family:system-ui;
}


.nav-bar{
display:flex;
justify-content:space-between;
align-items: center;
}

.nav-items{
    /* border: 1px solid white; */
    display:flex;
margin-top:10px;

}

.list{
list-style:none;
margin:5px;
color:white;
margin-right:25px;
}
b{
font-size:22px;
color:white;
/* margin-right:40px; */
margin-bottom:15px;
}
.nav-search{
justify-content:space-between;
/* background-color:grey; */
color: white;
border: none;
padding:15px;

}
.nav-button-2{
background: #0066b8;
color: white;
margin-right:30px;
padding:15px;
}
.main{
    /* color:white; */
text-align:center;
padding:15px;
background-color:#25252b;

}
.size{
font-size:40px;
}

.download-button{
background-color:#0066b8;
padding:10px;
color:white;
margin-top:15px;
border:none;
}
.option{
    /* margin-top: 10px; */
    padding: 10px;
    padding-bottom: 23px;
    background-color:#0066b8;
    color:white;
    border:none;

}
a{
    color: #0066b8;

}


.box a{
    text-decoration: none;
}

.box{
    /* border: 1px solid white; */
    width: 300px;
    background: #63565636;
    padding: 5px;
    margin-top:15px;
    margin-bottom:15px;
}


.main-img{
    height: 550px;
}


.container{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
}
.link{
font-size:13px;
text-decoration:none;
margin-left:15px;
}
.comment-img1 {
border-radius:50px;
height:70px;
margin-left:70px;
}
.comment {
    display:flex;
justify-content:space-around;
background-color:#f5f5f5;

}

.try{
    display: flex;
}

.for-comment{
    margin-top: 22px;
    margin-left: 5px;
margin-bottom:50px;

}
.photo{
height:300px;

}
.heading{
    margin-top:50px;
    margin-bottom:30px;
    color:blue;
font-size:55px;

}
.details{
display:flex;
justify-content:space-around;
background-color:#f5f5f5;
}

.headline{
font-size:30px;
color:blue;
margin-bottom:30px;
margin-top:50px;

}
.VScode{
font-size:30px;
/* justify-content:center; */
text-align: center;
}

.code-items{
display:flex;
list-style:none;
justify-content:center;

}
.startbutton{
color:white;
background-color:blue;
padding-top:10px;
padding-bottom:10px;
margin-top:50px;
width:200px;
}

.vs-link{
display:flex;
align-items:center;
flex-direction: column;
margin-top:30px;
}
/* 
display: flex;
justify-content: ;
align-items: ; */
.windows img{
width:200px;
height:200px;

}
.logo{
display:flex;
justify-content:space-around;
}

.windows button{
color:white;
background-color:blue;
border:none;
}






























 